.about-container{
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),url('../../images/bg4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}
.about-txt-container{
    text-align: center;
    width: 60%;
    min-width: 344px;
    margin: 0 auto;
    color: white;
}

@media (max-width:348px) {
    .about-txt-container{
        min-width: 0;
        font-size: .7rem;
    }
}