.testimony-container{
    display: flex;
    padding: 200px 30px;
    background: conic-gradient(rgb(255, 255, 255) 0deg 180deg, #001220  180deg 360deg);  
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
.testimony-left{
    padding: 30px 20px;
    width: 50%;
    min-height:50vh;
    display: flex;
    flex-direction: column;
    color: white;
    /* border: 3px solid red; */
}
.testimony-left p{
    width: 70%;
    font-size: 1rem;
    font-weight: 100;
}
.testimony-right-container{
    /* border: 2px solid rgb(0, 255, 0); */
    padding: 20px;
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimony-right{
    margin-bottom:  1.6em;
    height: 450px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 80px; */
}
.testimony-right p{
    /* border: 2px solid #8080ff; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    /* margin-top: 80px; */
    background: #c3daff;
    font-style: italic;
}
.testimony-right h4{
    /* border: 2px solid rgb(54, 195, 255); */
    width: 70%;
    margin: 0 auto;
    text-align: end;
    padding: 20px;
}

/* ################tablets############## */
@media (max-width:910px) {
    .testimony-container{
        flex-direction: column;
        height: fit-content;
        padding: 20px;
        background: conic-gradient( #8080ff 0deg 90deg,rgb(255, 255, 255) 90deg 270deg, #8080ff 0deg);  
    }
    .testimony-right-container{
        width: 100%;
        padding: 0;
        /* height: 50%;     */
        min-height: 0;
    }
    .testimony-right{
        width: 90%;
        margin: 1em auto;
        height: 400px;
        /* border: 2px solid black; */
    }
    .testimony-left{
        width: 100%;
        padding: 0;
        height: 50%;
        min-height: 400px;
        padding: 40px 20px;
        justify-content: center;
        align-items: center;
        
    }
    .testimony-right p{
        width: 100%;
        margin-top: 40px;
        /* height: 70%; */
    }
    .testimony-left p{
        width: 100%;
    }
}
@media (max-width:550px){
    .testimony-left{
        height: 600px;
        min-height: 0;
    }
    .testimony-right{
        height: 600px;
    }
    .testimony-right p{
        width: 100%;
        margin-top: 40px;
        height: fit-content; 
        min-height: 40px;
    }
}

@media (max-width:355px){
    .testimony-left{
        height: 400px;
        min-height: 0;
    }
    .testimony-container{
        height:fit-content;
        min-height: 0;
    }
    .testimony-right-container{
        /* position: absolute; */
        /* top: 650%; */
        /* height: 600px; */
        min-height: 0;
        padding: 0;
    }
    .testimony-right{
        margin: 0 auto;
        font-size: 11px;
        height: 500px;
    }   
}

@media (max-width:284px) {
    .testimony-container{
        padding: 0;
    }
}

