
.picture-container{
    background: #000;
    height: 100vh;
    /* border: 3px solid rgb(172, 172, 255); */
    background: url('../../images/memories.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 3px solid green; */
}
.picture-head{
    /* border: 3px solid red; */
    position: relative;
    top: 300px;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    color: white;
    text-align: center;
}
.picture-head p{
    /* border: 3px solid red; */
    width: 60%;
    margin: 0 auto;
}
.picture-head h1{
    /* border: 3px solid rgb(0, 255, 55); */
    font-size: 3rem;
}




.pic-head{
    /* border: 3px solid red; */
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #001220;
    color: white;
}
.picture-gallery{
    /* height: 100vh; */
    /* position: relative; */
    /* top: 620px; */
    background: #001220;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 33.666%;
    column-width: 33%;
    padding: 0 12px;
}
.picture-images img{
    width: 100%;
    /* margin: .4em 0; */
    /* opacity: 0.6; */
}
.picture-images img:hover{
    opacity: .8;
}
.picture-images {
    width: 100%;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.model{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #110d2f;
    transition:opacity .4s ease, visibility .4s ease, transform .5s ease-in-out ;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}
.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.model-img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px ;
    margin: 0 auto;
}
.model-close{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    border-radius: 100%;
}

@media (max-width:990px) {
    .picture-gallery{
    -webkit-column-count: 2;
    -moz-column-count: 2;
     column-count: 2;
    }
    .picture-head p{
        /* border: 3px solid red; */
        width: 100%;
        font-size: .8rem;
    }
}